<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8 tv-table-container">

  <mat-table [dataSource]="dataSource" class="tv-table" matSort matSortStart="asc">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="tv-table__head-cell"> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="season">
      <mat-header-cell *matHeaderCellDef mat-header-cell class="tv-table__head-cell"> Season </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.season}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="network">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="tv-table__head-cell"> Network </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.network}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="premiere">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="tv-table__head-cell"> Premiere </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.premiere}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class='tv-table__head-row'></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class='tv-table__body-row'>
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>